matplotlib
numpy 
pandas==1.2.5
streamlit==0.84.2
sklearn ==0.0
sweetviz
Lifetimes  ==0.11.3
mlxtend  
plotly   
seaborn  
scipy  ==1.7.3
 
tensorflow-cpu

squarify 
mlxtend == 0.14.0
streamlit-pandas-profiling 
keras==2.8.0

